.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem; /* Ensure it starts below the header */
    justify-content: flex-start; /* Align to the top-left corner */
    align-items: flex-start; /* Align items to the top */
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ensure body items align to the top-left */
}

.project-card {
    background-color: #333;
    border-radius: 8px;
    padding: 1rem;
    width: 300px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1; /* For animation purposes */
}

.project-card.enter {
    transform: translateY(-100%);
    opacity: 0;
}
.project-card.enter-active {
    transform: translateY(0);
    opacity: 1;
}

.project-card.exit {
    transform: translateY(0);
    opacity: 1;
}
.project-card.exit-active {
    transform: translateY(-100%);
    opacity: 0;
}

.project-card.glow {
    animation: glowBorder 1s ease-in-out;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.project-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.project-buttons {
    display: flex;
    gap: 0rem;
    position: absolute;
    right: 0;
    top: 0;
}

.project-buttons button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.2rem;
}

.project-buttons button:hover {
    color: #646cff;
}

.project-description {
    font-style: italic;
    font-size: 0.7rem;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.modal-enter {
    animation: slideIn 0.3s forwards;
}

.modal-exit {
    animation: slideOut 0.3s forwards;
}

/* Glow effect for the new project */

@keyframes glowBorder {
    0% {
        box-shadow: 0 0 5px rgba(99, 99, 255, 0);
    }
    50% {
        box-shadow: 0 0 25px rgba(99, 99, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 5px rgba(99, 99, 255, 0);
    }
}

.glow {
    animation: glowBorder 1s ease-in-out;
}